.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-box {
    flex-basis: 30%;
    min-width: 230px;
    margin: 1%;

    box-shadow: 2px 2px 15px rgba(0,0,0,.3);
}
.item-box, .item-box * {
    background-color: white;
}

.image-box .image {
    width: 100%;
    height: 170px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.detail-box {
    padding: 17px;
}

.detail-box h2 {
    font-size: 1.7em;
    margin: 10px 5px 40px 5px;

}

.category-box {
    margin-right: 5px;
    box-shadow: 0 0 0 transparent !important;
    border-radius: 15px;
}

.see-artist-button {
    margin: 30px 0 0 0;
}