<div class="wrapper">
    <div class="item-box" *ngFor="let artist of artists">
        <div class="image-box">
            <a routerLink="/artists/detail" [queryParams]="{id: artist.id - 1}">
                <div class="image" [ngStyle]="{'background-image': 'url('+artist.avatarURL+')'}" alt=""></div>
            </a>
        </div>
        <div class="detail-box">
            <h2>
                <a routerLink="/artists/detail" [queryParams]="{id: artist.id}">{{artist.name}}</a>
            </h2>
            <div class="btn waves-effect waves-light grey black-text lighten-3 category-box" *ngFor="let category of artist.categories">
                {{category}}
            </div>
            <div class="see-artist-button">
                <button class="btn waves-effect waves-light blue" routerLink="/artists/detail" [queryParams]="{id: artist.id}">See artist</button>
            </div>
        </div>
    </div>
</div>