<div class="wrapper">
  <h1>Select playlist</h1>
  <!-- USER DIDN'T LOGGED IN -->
  <p *ngIf="!user">Please Log in first</p>

  <!-- USER LOGGED IN -->
  <form *ngIf="user" (ngSubmit)="AddToPlaylist(playlistForm.value.playlistID)" #playlistForm="ngForm">
    <div class="form-group">
      <div *ngFor="let playlist of user.playlists; let i = index">
        <input type="radio" value="{{i}}" name="playlistID" ngModel>
        <span>{{playlist.name}}</span>
      </div>
    </div>

    <div class="form-group">
      <button type="submit">
        <b>Add</b>
      </button>
      <button type="button" (click)="CloseModal()">Cancel</button>
    </div>
  </form>
</div>