.banner {
    height: 400px;

    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner * {
    color: white;
}

.albums-wrapper {
    margin: 20px;
}