<!-- NAVIGATION BAR -->
<nav>
    <ul>
        <li>
            <a routerLink="/artists">Artists</a>
        </li>
        <br />
        <li>
            <a routerLink="/songs">Songs</a>
        </li>
        <br />
        <li>
            <a routerLink="/queue">Queue</a>
        </li>
        <br />
        <li>
            <a routerLink="/playlists">Playlists</a>
        </li>
        <br />
        <li>
            <a routerLink="/my-playlist">My Playlist</a>
        </li>
        <br />
    </ul>
</nav>