.container {
    width: 500px;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container  * {
    margin: 10px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.warning-text {
}

.warning-text * {
    color: red;
}

button[disabled] {
    color: grey;
}