.wrapper {
    display: flex;
    height: 100%;

    align-items: center;
    justify-content: center;  
}

#volumn-slider {
    width: 100px;
}

#play-pause-button {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}
#play-pause-button i {
    font-size: 2.5em;
}