.container {
    height: 100%;
    min-height: 100%;
}

/* HEADER */
header {
    width: 100%;
    border: 1px solid #13bf00;
    position: fixed;
    top:0px;
    left: 0px;;
    
    display: flex;
    justify-content: space-between;

    background-color: #16aced;
}

.logo {
    border: 1px solid salmon;
}

.login {
    border: 1px solid salmon;
    display: flex;
    align-items: center;
}

/* NAV */
nav {
    width: 160px;
    border: 1px solid #13bf00;
    position: fixed;
    left: 0;
    top: 107px;

    background-color: #656565;
}

nav a {
    color: white;
}

nav ul {
    list-style-type: none;
}


/* MAIN CONTENT */
.content {
    margin-top: 100px;
    margin-left: 180px;
    margin-bottom: 120px;
    border: 1px solid slateblue;
}

/* PLAYBACK BAR */
.mp3-player-container {
    border: 1px solid red;
    background-color: #575757;
    width: 100%;
    min-height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}