<div class="container">
    <!-- HEADER -->
    <header>
        <!-- LOGO -->
        <div class="logo">
            <h1>
                <a routerLink="/">Dotify</a>
            </h1>
        </div>

        <!-- CREATE NEW PLAYLIST -->
        <div *ngIf="userLoggedIn">
            <button (click)="ShowModal('app-create-playlist')">Create playlist</button>
        </div>

        <!-- LOGIN -->
        <div class="login">
            <button (click)="ShowModal('app-login')">LOGIN</button>

            <!-- SIGNUP -->
            <div class="signup">
                <button (click)="ShowModal('app-signup')">SIGNUP</button>
            </div>
        </div>
    </header>


    <!-- NAVIGATION BAR -->
    <nav>
        <ul>
            <li>
                <a routerLink="/artists">Artists</a>
            </li>
            <br />
            <li>
                <a routerLink="/songs">Songs</a>
            </li>
            <br />
            <li>
                <a routerLink="/queue">Queue</a>
            </li>
            <br />
            <li>
                <a routerLink="/playlists">Playlists</a>
            </li>
            <br />
            <li>
                <a routerLink="/my-playlist">My Playlist</a>
            </li>
            <br />
        </ul>
    </nav>

    <!-- CONTENT -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <!-- PLAYBACK BAR -->
    <div class="mp3-player-container">
        <app-mp3-player></app-mp3-player>
    </div>

    <!-- MODAL -->
    <!-- <div class="modal-overlay" *ngIf="showModal" (click)="HideModal($event);">
        <div class="modal-container">
            <app-create-playlist #modal (onCloseModal)="HideModal($event)"></app-create-playlist>
        </div>
    </div> -->
    <div class="modal-overlay" *ngIf="modal" (click)="HideModal($event);">
        <div class="modal-container" [ngSwitch]="modal">
            <app-create-playlist *ngSwitchCase="'app-create-playlist'" (onCloseModal)="HideModal($event)"></app-create-playlist>
            <app-add-to-playlist [song]="modalParams" [userID]="1" *ngSwitchCase="'app-add-to-playlist'" (onCloseModal)="HideModal($event)"></app-add-to-playlist>
            <app-login *ngSwitchCase="'app-login'"></app-login>
            <app-signup *ngSwitchCase="'app-signup'"></app-signup>
        </div>
    </div>
</div>