<div class="wrapper">
  <!-- HEADER -->
  <div class="playlist-header">
    <!-- AVATAR -->
    <div class="playlist-avatar">
      <img src="{{playlist.avatarURL}}" alt="">
    </div>

    <!-- INFO -->
    <div class="playlist-info">
      <h3>{{playlist.name}}</h3>
      <p id="playlist-description">{{playlist.description}}</p>
      <div class="playlist-status">
        {{playlist.likes}}
        <i class="material-icons">thumb_up</i>
        {{playlist.playbackTimes}}
        <i class="material-icons">settings_backup_restore</i>
      </div>
    </div>
    <!-- PLAYBACK CONTROLLER -->
    <div class="playlist-controller">
      <button class="btn-floating waves-effect waves-light blue">
        <i class="material-icons">play_arrow</i>
      </button>
    </div>
  </div>

  <!-- SONG LIST -->
  <div class="playlist-songs">
    <ng-container *ngFor="let song of playlist.songs">
      <app-song [song]="song"></app-song>
    </ng-container>
  </div>
</div>