.container {
    
    display: flex;
    flex-wrap: wrap;
}

.playlist-header {
    width: 100%;
    border: 2px dotted sandybrown;
    
    display: flex;
    justify-content: space-between;
}

.playlist-avatar {
    flex-grow: 2;
    max-width: 200px;

    border: 1px solid dodgerblue;
}
.playlist-avatar img {
    width: 100%;
}

.playlist-info {
    flex-grow: 6;
    border: 1px solid darkmagenta;
}

.playlist-controller {
    flex-grow: 1;
    border: 1px solid seagreen;
}


/* SONG */
.playlist-songs {
        width: 100%;
}

.song-container {
    width: 100%;
    border: 1px solid red;
    
    display: flex;
}

.song-button {
    border: 1px solid darkcyan;

    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.song-name {
    border: 1px solid darkcyan;

    padding: 10px;

    flex-grow: 10;
}

.song-menu {
    border: 1px solid darkcyan;

    flex-grow: 1;
    display: flex;
    justify-content: center;
}